.footer{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footer-itens{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--cor-p2);
  gap: 50px;
}
.footer-links{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-links li > a{
  text-transform: uppercase;
  font: 600 1rem/1.2 'Inter', sans-serif;
  color: var(--cor-p2);
}
.footer-itens > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-itens div > h4{
  text-transform: uppercase;
}
.footer-direitos{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-direitos > div{
  display: flex;
  gap: 30px;
}