.introducao{
  display: grid;
  grid-template-columns: repeat(13,1fr);
  gap: 20px;
}
.item-grande{
  grid-column: 1 / 10;
}
.container-pequeno{
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 10/14;
}
@media (max-width: 950px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .item-grande{
    grid-column: auto;
  }
  .container-pequeno{
    grid-column: auto;
    flex-direction: row;
  }
}
@media(max-width:650px){
  .container-pequeno{
    flex-direction: column;
  }
}
