.noticias{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.noticias-item{
  display: flex;
  align-content: center;

  gap: 20px;
}
.noticias-txt{
  display: flex;
  flex-direction: column;
  gap:20px ;
  width: 100ch;
}