.font1-xs{
  font: 400 0.625rem/1.2 "Inter", sans-serif;
}
.font1-x-b{
  font: 600 0.875rem/1.2 "Inter", sans-serif;
}
.font1-m,
.font1-m-b{
  font: 400 1rem/1.2 "Inter", sans-serif;
}
.font1-m-b{
  font-weight: 600;
}
.font2-m-b{
  font: 600 1.125rem/1.2 "Exo 2", sans-serif;
}
.font2-l-b{
    font: 600 2rem/1.2 "Exo 2", sans-serif;
}
.font2-xl-b{
    font: 600 2.25rem/1.2 "Exo 2", sans-serif;
}
.font2-xxl-b{
    font: 600 4rem/1.2 "Exo 2", sans-serif;
}
.font2-exl-b{
    font: 600 8.75rem/1.2 "Exo 2", sans-serif;
}
.font3-xs{
    font: 400 0.875rem/1.2 "Archivo Black", sans-serif;
}
.font3-m{
    font: 400 1.125rem/1.2 "Archivo Black", sans-serif;
}
.font4-xs{
    font: 400 0.675rem/1.2 'Gemunu Libre', sans-serif;
}
.font4-exl{
    font: 400 8rem/1.2 'Gemunu Libre', sans-serif;
}